'scopeName': 'text.generic-config'
'name': 'Generic Configuration'
'fileTypes': [
  'gitattributes'
  '.config/git/ignore'
  '.git/info/exclude'
  'gitignore'
  'conf'
  'ctags'
  'hgignore'
  'mailmap'
  'stylelintignore'
  'cfg'
]
'patterns': [
  {
    'include': '#comment'
  },
  {
    'include': '#statement'
  }
]
'repository':
  'statement':
    {
      'name': 'statement.line.number-sign.generic-config'
      'match': '\\b(\\w+)=(\\S+)\\b'
      'captures': {
         1: { 'name': 'variable' }
         2: { 'name': 'string' }
      }
    }
  'comment':
    'patterns': [
      {
        'begin': '#'
        'beginCaptures': 'punctuation.definition.comment.generic-config'
        'end': '$\\n?'
        'name': 'comment.line.number-sign.generic-config'
      }
      {
        'begin': ';'
        'beginCaptures': 'punctuation.definition.comment.generic-config'
        'end': '$\\n?'
        'name': 'comment.line.semi-colon.generic-config'
      }
    ]
